	.content {
		height: 100%;
		background-size:750upx;
	}
	.header{
		height: 180upx;
		width: 100%;
		background-color: rgba(102,102,102,.4);
		border-radius: 90upx;
		padding: 10upx;
		box-sizing: border-box;
		display: flex;
	}
	.logo{
		height: 160upx;
		width: 160upx;
		border-radius: 50%;
		/* background-color: #007AFF; */
	}
	.logo image{
		width: 100%;
		height: 100%;
	}
	.nameWapper{
		flex: 1;
		height: 80upx;
		padding: 40upx 0;
	}
	.nameWapper .title{
		font-size: 16px;
		color: #fff;
	}
	.nameWapper .number{
		font-size: 12px;
		color: #F1F1F1;
	}
	.avatar{
		width: 279upx;
		height: 93upx;
		margin: 33.5upx 0;		
	}
	.avatar .item{
		width: 93upx;
		height: 93upx;
		border-radius: 50%;
		float: right;
		margin-right: -10upx;
	}
	.avatar .item image{width: 100%;height: 100%;}
	.textWapper{
		padding: 5px 20px;
		margin-top: 76upx;
		width: 437upx;
		height: 139upx;
	}
	.textWapper image{width: 100%;height: 100%;}
	.textWapper .icon{
		height: 20px;
		width: 50px;
		text-align: center;
		line-height: 20px;
		background-color: #5555ff;
		transform: skewX(-20deg);
	}
	.textWapper .text{
		font-size: 30px;
		color: #fff;
	}
	.bottomWapper{
		background-color: #1a1c1c;
		padding: 20px;
		width: 100%;
		height: 649upx;
		position: fixed;
		box-sizing: border-box;
		bottom: 0;
	}
	.bottomWapper .goodsWapper{
		height: 465.2upx;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.bottomWapper .goodsWapper .goodsItem{
		flex: 1;
		width: 25%;
		min-width: 25%;
		max-width: 25%;
		text-align: center;
	}
	.bottomWapper .goodsWapper .icon{
		height: 156upx;
		width: 156upx;
		border-radius: 10upx;
		padding: 23upx;
		margin: auto;
		box-sizing: border-box;
	}
	.bottomWapper .goodsWapper .icon image{
		width: 32upx;
		height: 110upx;}
	.iconHover{
		background-color: #47474d;
	}
	.bottomWapper .goodsWapper .name{
		color: #dedede;
		font-size: 14px;
		width: 156upx;
		text-align: center;
	}
	.bottomWapper .goodsWapper .price{
		color: #dedede;
		font-size: 14px;
		width: 156upx;
		text-align: center;
	}
	.payment{
		display: flex;
		flex-direction: row;
		  justify-content: space-between;
		  margin-top: 20upx;
	}
	.payment .recharge{
		background-color: #74747f;
		/* width: 196upx; */
		line-height: 47upx;
		
		margin: 6upx 0;
		padding: 0rpx 20upx;
		border-radius: 26upx;
		text-align: right;
		box-sizing: border-box;
		color: #fff;
	}
	.payment .recharge image{
		width: 62rpx;
		height: 21rpx;
	}
	.payment .submit{
		width: 144upx;
		height: 53upx;
		background-color: #674892;
		float: right;
		line-height: 53rpx;
		border-radius: 26upx;
		text-align: center;
		color: #fff;

	}