	.content {
		height: 100%;
		background-size:750upx;
	}
	.header{
		height: 180upx;
		width: 100%;
		background-color: rgba(102,102,102,.4);
		border-radius: 90upx;
		padding: 10upx;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.goBack{
		height: 73rpx;
		width: 336upx;
		font-size: 50upx;
		font-weight: bold;
		line-height: 73upx;
		color: #cacaca;
		
	}
	.goBack .icon{
		width: 43rpx;
		height: 43rpx;
		margin-right: 20upx;
		vertical-align: middle;
	}
	
	.logo image{
		width: 100%;
		height: 100%;
	}
	.nameWapper{
		flex: 1;
		height: 80upx;
		padding: 40upx 0;
	}
	.nameWapper .title{
		font-size: 16px;
		color: #fff;
	}
	.nameWapper .number{
		font-size: 12px;
		color: #F1F1F1;
	}
	.avatar{
		width: 430rpx;
		height: 153rpx;	
		padding-right: 10px;
	}
	.avatar .item{
		width: 153rpx;
		height: 153rpx;
		border-radius: 50%;
		float: right;
		margin-right: -32upx;
	}
	.avatar .item image{width: 100%;height: 100%;}
	
	.textWapper{
		padding: 5px 20px;
		height: 139rpx;
		position: absolute;
		top: 60rpx;
		left: 20rpx;
		
		
	}
	.textWapper image{
		width: 100%;
		height: 100%;
	}
	.textWapper .icon{
		text-align: center;
		line-height: 20px;
		display: inline-block;
		padding: 0 20rpx;
		color: rgb(69,144,124);
		font-weight: bolder;
		background-color: rgba(85,85,255,0.79);
		transform: skewX(-25deg);
	}
	.textWapper .text{
		font-size: 30px;
		color: #fff;
	}
	
	.swiper-box{
		background-color: rgba(0,0,0,.3);
		height: 1982upx;
	}
	.swiper-item{
		width: 928upx;
		height: 1982upx;
		background-color: #0086B3;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 10upx;
	}
	
	.chatContanner{
		padding: 20upx;
		box-sizing: border-box;
		height: calc(100% - 456rpx);
		padding-top:244upx;
		overflow-y:auto;
		position: absolute;
		width: 620rpx;
	}
	.chatContanner .chatView{
		/* width: 100%; */
		/* height: calc(100% - 244upx); */
		position: absolute;
		bottom: 0;
	}
	
	.scroll-Y{
		max-height: 560upx;
	}
	.chatContanner .chatItem {
		background-color: rgba(0,0,0,.3);
		border-radius: 86.67upx;
		padding:0 20upx;
		margin-bottom: 10upx;
		display: inline-flex;
		word-wrap:break-word; 
		word-break:break-all; 
		align-items: center;
	}
	.chatContanner .chatItem .userHeader{
		
	}
	.chatContanner .chatItem .tableNumber{
		height: 67.33upx;
		min-width: 107rpx;
		text-align: center;
		border-radius: 67.33upx;
		background-color: rgba(73,14,56,0.78);
		display: inline-block;
		padding: 0 10upx;
		font-size: 28upx;
		font-weight: bolder;
		line-height: 67.33upx;
		color: #bf72ac;
		/* margin-top:10rpx; */
		font-style: oblique;
	}
	.chatContanner .chatItem .userIcon {
		height: 86.67upx;
		width: 86.67upx;
		
	}
	.chatContanner .chatItem .text{
		font-size: 28upx;
		font-weight: bolder;
		color: #FFFFFF;
		min-height: 30rpx;
		line-height: 30rpx;
		flex:1;
	}
	
	.bottomWapper{
		position: absolute;
		bottom: 0;
		height: 204upx;
		padding: 56upx 0;
		width: 630rpx;
		box-sizing: border-box;
	}
	.bottomWapper .line{
		width:calc(100% - 40upx);
		left: 20upx;
		height: 2upx;
		background-color: rgb(221,221,221);
		position: absolute;
		top: 0;
	}
	.bottomWapper .chatWapper{
		height: 74upx;
		width: 620rpx;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
	}
	.bottomWapper .chatWapper .chatInput{
		width: 400upx;
		box-sizing: border-box;
		height: 74upx;
		border-radius: 74upx;
		padding: 10upx;
		color: #fff;
		background-color: rgba(0,0,0,.3);
		float: left;
	}
	.bottomWapper .chatWapper .submit{
		width: 120rpx;
		height: 74upx;
		text-align: center;
		float: right;
		font-size: 28rpx;
		background-color: #5555FF;
		border-radius: 74upx;
		line-height: 74upx;
		color: #fff;
		
	}
	.bottomWapper .chatWapper .gave{
		width: 74upx;
		height: 74upx;
		border-radius: 50%;
		float: right;
		margin-right: 10upx;
		background-color: #674892;
	}
	